<section class="cart-section">
    <h1>Cart</h1>

    <div class="cart-items" *ngIf="products$ | async as products">
        <div *ngIf="products.length else empty">

            <div *ngIf="products.length > 1" class="sort">
                <span>Sort by:</span>
                <select (change)="onSortValueChange($event)" class="select">
                    <option *ngFor="let option of sortOptions | keyvalue" [value]="option.value">{{ option.key }}</option>
                </select>
                <label class="sort-order">
                    <input type="checkbox" [checked]="isAsc" (change)="isAsc = !isAsc">
                    ASC/DESC
                </label>
            </div>

            Your cart contains the following items:
            <app-cart-item
                appHighlight
                *ngFor="let item of products | orderBy:sortBy:isAsc; index as i; trackBy: trackByItems"
                [product]="item"
                (increase)="onIncrease($event)"
                (decrease)="onDecrease($event)"
                (remove)="onRemove($event)">
            </app-cart-item>
    
            <p>Quantity: {{ quantity }}</p>
            <p>Total: {{ summ | currency }}</p>
        </div>
        <ng-template #empty>
            <span>Cart is empty</span>
        </ng-template>
    </div>
</section>
